html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.nav-link {
    color: white !important;
    background-color: rgb(0, 0, 0,0.3);
    border-radius: 10px;
    margin-left: 10px;
}
.nav-link:hover {
    color: cornflowerblue !important;
}
.navbar-brand {
    color: cadetblue !important;
}