h3 {
    color: white;
}
.tableinfo {
    border: 1px solid #959595;
    background: #202020;
    border-radius: 5px;
}
.tableinfo td, .tableinfo th {
    border-top: 1px solid #959595;
    background: #121212;
}
.tableinfo td, .tableinfo th {
    padding: .5rem;
}
td {
    color: #909090;
}
th {
    color: #ffffff;
}
.tableinfo td, .tableinfo th {
    word-wrap: break-word;
}
strong {
    color: white;
}
label {
    color: white;
}
:not(a):not(pre) > code {
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.301);
    border-radius: 3px;
    font-size: 85%;
    padding: .1em .2em;
}
