@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" id="mainform" runa>
	<p style="color:white">Salve saLve</p>

	<p style="color:white">Mili-Segundos  <input id="time" name="time" type="number" /></p>

	<br />
	<button asp-area="" asp-controller="Home" asp-action="ShowJumpscare" type="submit">JUMP!!</button>
</form>