@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<form method="post" id="mainform" runa>
	<p style="color:white">Escolha qual imagem para usar como Jumpscare e escolha<br />e escolha (em Milisegundos) quanto tempo ele irá ficar na tela</p>

	<img src="/res/jeff-the-killer-vancethot.gif" width="100px" class="jmp1"/>

	<img src="/res/bkacman.jpeg" width="100px" height="100px" class="jmp2"/>

	<img src="/res/henry.jpeg" width="100px" height="100px" class="jmp3"/>


	<p style="color:white">MiliSegundos  <input id="time" name="time" type="number" /></p>

	<br />
	<button asp-area="" asp-controller="Home" asp-action="ShowJumpscare" type="submit">JUMP!!</button>
</form>