@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p style="color:whitesmoke">Aqui vemos algumas Política de Privacidade<br />
    
    <ul style="color:papayawhip">
        <li style="color: floralwhite;">Uso Ético: Não utilize o aplicativo de forma antiética ou para fins ilegais, prejudiciais ou não autorizados.</li>
        <li style="color: darkgray;">Acesso Autorizado: Utilize o aplicativo somente para acessar sistemas e recursos para os quais você possui autorização ou permissão explícita.</li>
        <li style="color: floralwhite;">Privacidade dos Usuários: Respeite a privacidade e a confidencialidade dos usuários e dos sistemas que você acessa.</li>
        <li style="color: darkgray;">Não Divulgação: Não divulgue informações confidenciais ou dados pessoais obtidos através do uso do aplicativo sem o devido consentimento.</li>
        <li style="color: floralwhite;">Uso Compartilhado: Não compartilhe suas credenciais de acesso ou dados de login com terceiros não autorizados.</li>
        <li style="color: darkgray;">Segurança Cibernética: Não utilize o aplicativo para explorar vulnerabilidades de segurança ou realizar atividades de hacking.</li>
        <li style="color: floralwhite;">Registro de Atividades: Mantenha um registro preciso e seguro de todas as suas atividades no aplicativo, se aplicável.</li>
        <li style="color: darkgray;">Backup e Recuperação: Faça backups regulares dos seus dados e sistemas antes de usar o aplicativo para evitar perda de informações críticas.</li>
        <li style="color: floralwhite;">Atualizações e Patches: Mantenha o aplicativo atualizado com as últimas atualizações e patches de segurança.</li>
        <li style="color: darkgray;">Denúncia de Vulnerabilidades: Se você descobrir vulnerabilidades de segurança no aplicativo, relate-as imediatamente ao desenvolvedor ou à equipe de suporte.</li>
        <li style="color: floralwhite;">Uso Responsável de Recursos: Evite sobrecarregar os sistemas ou redes acessados pelo aplicativo, respeitando os limites de uso responsável.</li>
        <li style="color: darkgray;">Integridade de Dados: Não modifique, corrompa ou destrua dados ou sistemas acessados sem permissão explícita.</li>
        <li style="color: floralwhite;">Uso Comercial: Não utilize o aplicativo para fins comerciais sem permissão ou licença adequada, se aplicável.</li>
        <li style="color: darkgray;">Avaliação de Riscos: Avalie cuidadosamente os riscos associados ao uso do aplicativo e tome medidas adequadas para mitigá-los.</li>
        <li style="color: floralwhite;">Política de Senhas Fortes: Utilize senhas fortes e exclusivas para autenticação no aplicativo e altere-as regularmente.</li>
        <li style="color: darkgray;">Suporte Técnico: Consulte a equipe de suporte ou o desenvolvedor do aplicativo em caso de dúvidas ou problemas técnicos.</li>
        <li style="color: floralwhite;">Treinamento e Educação: Mantenha-se atualizado com as melhores práticas de segurança cibernética e ética de acesso a sistemas.</li>
        <li style="color: darkgray;">Respeito às Leis Locais: Cumpra todas as leis e regulamentos locais, nacionais e internacionais relacionados ao uso de aplicativos de acesso a sistemas.</li>
        <li style="color: floralwhite;">Notificação de Violações: Se você suspeitar ou tomar conhecimento de qualquer violação da segurança ou uso não autorizado do aplicativo, notifique imediatamente a equipe responsável.</li>
        <li style="color: darkgray;">Respeito à Propriedade Intelectual: Respeite os direitos autorais, marcas registradas e outras formas de propriedade intelectual ao utilizar o aplicativo.</li>
    </ul>

    <p style="font-size:24px; color:indianred; background-color: rgba(255,0,0,0.05); border-radius:7px; padding:30px">Embora que nao exista várias funções e vulnerabilidades citadas nessa politica, é sempre bom deixar claro :)</p>
</p>
